<%= form_for(@shorten) do |f| %>
  <% if @shorten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shorten.errors.count, "error") %> prohibited this shorten from being saved:</h2>

      <ul>
      <% @shorten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :shortcode %><br>
    <%= f.text_field :shortcode %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :lastseendate %><br>
    <%= f.datetime_select :lastseendate %>
  </div>
  <div class="field">
    <%= f.label :redirectcount %><br>
    <%= f.number_field :redirectcount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
