<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @shorten.url %>
</p>

<p>
  <strong>Shortcode:</strong>
  <%= @shorten.shortcode %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @shorten.startdate %>
</p>

<p>
  <strong>Lastseendate:</strong>
  <%= @shorten.lastseendate %>
</p>

<p>
  <strong>Redirectcount:</strong>
  <%= @shorten.redirectcount %>
</p>

<%= link_to 'Edit', edit_shorten_path(@shorten) %> |
<%= link_to 'Back', shortens_path %>
